$color-med-dark-gray: #3a3a3a;
$color-light-gray: #e6e5e5;
$color-light-gray-hover: rgba(230, 229, 229, 0.5);
$color-blue: #70a5e7;
$color-blue-hover: rgba(112,165,231,0.75);
$color-light-blue: #70a6e8;
$color-green: #8fce58;
$color-background: #000000;
$color-primary: #232323;
$color-secondary: #4a4a4a;
$color-accent: rgba(59,130,246,.5);
$color-divider: $color-light-gray;
$color-focus: $color-blue;